body {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 19px;
  background-color: #f8f9fa;
  color: black;
}

.navbar {
  background-color: rgb(247, 246, 246);
}

header {
  background-color: #376888;
  margin-top: 4%;
  padding: 2.5em;
}

header h1 {
  margin-left: 37%;
  font-family: "Times New Roman", Times, serif;
  color: rgb(3, 236, 236);
  font-weight: lighter;
}

header h4 {
  margin-left: 36%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  font-weight: lighter;
}

.head-col {
  width: 100%;
  color: rgb(0, 0, 0);
  padding-top: 2%;
  padding-left: 20%;
  padding-right: 20%;
}

.fa-square-full {
  position: absolute;
  left: 610px;
  width: 25px;
  height: 15px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  z-index: 2;
  rotate: 46deg;
}

.px-5 {
  position: relative;
  padding: 1em;
  background-color: #c7e3f7;
  height: 300px;
}

.px-5 h1 {
  margin-left: 0px;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  font-size: 25px;
}

.px-5 p {
  margin-left: 10px;
}

.px-5 .fa-square-full {
  margin-top: 50px;
  position: absolute;
  left: 610px;
  top: 12.7em;
  width: 25px;
  height: 15px;
  color: #c7e3f7;
  background-color: #c7e3f7;
  z-index: 2;
  rotate: 46deg;
}

.img img {
  width: 70%;
  height: 90%;
  padding-bottom: 1em;
  margin-left: 4em;
}

.img {
  width: fit-content;
}

.logo {
  height: 24em;
}

.logo::before {
  position: absolute;
  content: "";
  left: 32.2em;
  top: 22.7em;
  z-index: 2;
  transform: rotate(45deg);
  width: 30px;
  height: 30px;
  background-color: #f8f9fa;
}

.px-5 .col:nth-child(1) {
  width: fit-content;
  padding: 0;
  margin: 0;
}

.last-col {
  width: 60%;
}

.next {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 3em 0.2em 3em 0.2em;
}

.next h2 {
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  margin-left: 30%;
}

.brief {
  width: 60%;
  text-align: center;
  background-color: white;
  padding: 2%;
  border: 1px solid #b9b9b9;
}

.brief::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  margin-top: 7.5em;
  left: 48%;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  border-bottom: 1px solid #b9b9b9;
  border-right: #b9b9b9 1px solid;
  transform: rotate(45deg);
}

.next-image {
  width: fit-content;
  margin-left: 41%;
}

.next-image img.the-image {
  width: 150px;
  height: 130px;
  border-radius: 50%;
  margin-top: 1em;
}

.next-image h4 {
  color: rgb(32, 32, 32);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.next-image h6 {
  margin-left: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(85, 85, 85);
  font-size: 17px;
  font-weight: lighter;
}

.next-image span {
  color: rgb(59, 59, 247);
}

/* @media (max-width: 1024px){
  .navbar {
    width: 82%;
  }
} */

@media (max-width: 956px) {
  header h1 {
    margin-left: 25%;
  }
  header h4 {
    margin-left: 7%;
  }
  .container .mt-1 {
    width: 100%;
    margin: 0;
    padding: 7px;
  }
  .head-col {
    margin-left: 3%;
    margin-right: 2%;
    font-size: 17px;
  }
  .img img {
    width: 500px;
    display: block;
    margin-top: 10px;
  }
  .px-5 {
    margin-bottom: 20px;
    height: fit-content;
    position: static;
    padding: 0;
    display: grid;
    font-size: 19px;
  }
  .px-5 h1 {
    align-items: center;
    justify-content: center;
  }
  .fa-square-full {
    display: none;
  }

  .next h2 {
    margin-left: 20%;
    width: 100%;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 17px;
  }

  header h1 {
    margin-left: 30%;
    font-size: 22px;
  }

  header h4 {
    margin-left: 22%;
  }

  .fa-square-full {
    display: none;
  }

  .img img {
    margin: 1em 0.5em 1em 2em;
  }

  .next-image {
    margin-left: 38%;
  }

  .next h2 {
    margin-left: 17%;
  }

  .brief {
    width: 80%;
  }

  .brief::before {
    left: 48%;
    margin-top: 7.2em;
  }

  .logo::before {
    display: none;
  }
}

@media (max-width: 425px) {
  .next h2 {
    margin-left: 8%;
  }
  .brief::before {
    margin-top: 11.3em;
    left: 48%;
  }
  .next-image {
    margin-left: 6em;
  }
}

@media (max-width: 375px) {
  header {
    margin-top: 10%;
  }

  header h1 {
    margin-left: 5%;
  }

  header h4 {
    margin-left: 0;
    font-size: 14px;
  }

  .head-col {
    font-size: 16px;
    width: 60%;
    padding-left: 2%;
    padding-right: 2%;
  }

  .img img {
    margin-left: 0;
  }

  .px-5 {
    font-size: 16px;
    padding: 0;
  }

  .next {
    margin-top: 1em;
    margin-left: 0.5em;
  }

  .next h2 {
    margin-left: 11%;
    width: 70%;
  }

  .brief {
    width: 90%;
    font-size: 16px;
    margin-left: 5px;
  }

  .logo::before {
    display: none;
  }

  .brief::before {
    margin-top: 11.3em;
    left: 50%;
  }

  .next-image {
    margin-left: 26%;
  }
}

@media (max-width: 320px) {
  .brief::before {
    margin-top: 12.7em;
  }
  .next h2 {
    font-size: 18px;
  }
  .next-image {
    margin-left: 70px;
  }
}
